@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-background: #100f58;
    --main-light: #ffffff;
    --white-opaque: #ffffff4b;
    --red: #ff4d6a;
    --teal: #50e5b1;
    --orange: #f77b58;
    --teal: #74cedb;
    --blue: #6b9ef5;
    --blue-rich: #6d8bf7;
    --pink: rgb(245, 63, 151);
    --violet: #9462eb;
    --sans-light: 300;
    --sans-regular: 400;
    --sans-bold: 700;
    --sans-black: 900;
    /* text sizes */
    --text: clamp(0.65rem, 0.65rem + 1vw, 1.2rem);
    --text-xs: 10px;
    --big-title: clamp(2.7rem, 1rem + 7vw, 10rem);
    /* --large-text: clamp(2.1rem, 1rem + 3vw, 4rem); */
     --large-text: clamp(1.5rem, 1rem + 2vw, 3rem);
    --large-line-height: 1;
    --capital-text: 24px;
    --small-text: 18px;
    --mini-text: 10px;
  }
  body {
    @apply font-sansInter;
    @apply bg-black text-white;
    padding: 0 16px;
    max-width: 1680px;
    margin: 0 auto;
    font-size: var(--text);
    color: var(--main-light);
    font-weight: var(--sans-regular);
    /* Smoothing text */
    /* -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    -moz-osx-font-smoothing: grayscale; */
  }

  /* font */
  h1 {
    @apply text-3xl mb-3;
  }
  h2 {
    @apply text-2xl mb-3;
  }
  h3 {
    @apply text-lg mb-3;
  }

  /* GRADIENTS */
  
  .gradient {
    background-color: rgba(0, 0, 0, 0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      107.16deg,
      rgb(245, 63, 151) 20.37%,
      rgb(250, 85, 102) 44.58%,
      rgb(247, 87, 53) 56.71%,
      rgb(254, 126, 14) 66.77%,
      rgb(249, 148, 47) 100%
    );
  }
  .gradient-2 {
    background-color: rgba(255, 255, 255, 1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      107.16deg,
      rgb(14, 254, 142) 20.37%,
      rgb(53, 247, 237) 34.71%,
      rgb(106, 157, 251) 46.77%,
      rgb(147, 105, 197) 66.77%,
      rgb(225, 114, 221) 100%
    );
  }

}

